@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

body {
    font-family: 'Hanna', serif;
}

.no-padding {
    padding: 0;
}

.hide {
    visibility: hidden;
}

.margin {
    margin-left: 10px;
    margin-right: 10px;
}

#list-btn {
    float: right;
}

.name {
    font-weight: bold;
    margin-left: 10px;
}

.message {
    background-color: #eeeeee;
    border-radius: 20px;
    display:inline-block;
    padding: 12px;
    margin-left: 10px;
}

.my-name {
    float: right;
    font-weight: bold;
    margin-left: 10px;
}

.my-message {
    float: right;
    background-color: #bae1ff;
    border-radius: 20px;
    display:inline-block;
    padding: 12px;
    margin-right: 10px;
}

.user-list-wrap {
    padding: 5%;
}

.connect-message {
    padding: 5px;
    background-color: #baffc9;
    border-radius: 10px;
}

.disconnect-message {
    padding: 5px;
    background-color: #ffb3ba;
    border-radius: 10px;
}

.chat-main {
    padding-top: 10px;
    margin-top: 56px;
    margin-bottom: 68px;
    width: 100%;
    height: 100%;
}

.top {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 56px;
    padding: 10px;
    background: #eeeeee;
    border: 1px solid lightgray;
}

.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}